@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: url("FB_IMG_1763292951225.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 550px;
  margin-top: 45px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: bold;
  margin-top: 50px;
}

p {
  margin: 35px 0 35px 0;
  font-size: 20px;
  font-weight: bold;
}

.inputField {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  width: auto !important;
}

.unitsInput,
.gradeInput {
  width: 200px !important;
}

.deleteBtn {
  background-color: #FF5555;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
}


input {
  width: 230px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 8px;
}

button {
  border-radius: 8px;
  border: 1px solid #4DB557;
  background-color: #4DB557;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button#resetButton {
  background-color: #FF5555;
  border: 1px solid #FF5555;
}

@media screen and (max-width: 768px) {
  .container {
    height: 80%;
    width: 90%;
  }

  input {
    width: 280px;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 8px;
  }

  .inputField {
    width: 300px;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 8px;
  }
}

.button-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
